@use 'sassVariables/colors.scss' as colors;
@use 'sassVariables/spacing.scss' as spacing;
@use 'sassVariables/fonts.scss' as fonts;

.userDetailsContainer {
  margin-bottom: spacing.$desktopContainerMargin;

  h1 {
    color: colors.$textHeadline;
    font-size: fonts.$sizeTitle;
    margin-bottom: 5px;

  }

  p {
    color: colors.$textSecondary;
    font-size: fonts.$sizeSubTitle;
    margin-bottom: 3px;
  }

  span {
    color: colors.$textPrimary;
  }
}