@use 'sassVariables/colors.scss' as colors;
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);

.about-container {
  // font-family: 'PT Sans Caption', "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  font-size: 16px;
}

.about-hero-header {
  margin: auto 0px;
  padding: 50px 20px;
}

.about-hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
  padding: 1em;
  box-sizing: border-box;
  color: white;
  background: url(https://images.unsplash.com/photo-1500417148159-68083bd7333a) center center no-repeat;
  background-size: cover;
  cursor: default;
}

.about-hero-title {
  max-width: 70vw;
  margin: 0;
  font-size: 60px;
  font-weight: bold;
  text-transform: uppercase;
}

.about-hero-footer {
  display: flex;
  margin: 0px 20px 20px;
}

.about-button {
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  border: .1em solid white;
  cursor: pointer;
}

.about-button-primary {
  color: black;
  background-color: white;
}

.about-button-primary a,
.about-button a {
  text-decoration: none;
}

@media only screen and (max-width: 640px) {
  .about-hero-title {
      font-size: 40px;
  }
}

.about-testimony-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  margin: 0;
  padding: 50px;
  height: 100%;
}

.about-testimony {
    font-family: 'Raleway', Arial, sans-serif;
    position: relative;
    overflow: hidden;
    margin: 10px 25px;
    min-width: 220px;
    max-width: 280px;
    width: 100%;
    color: #333;
    text-align: left;
    box-shadow: none !important;
}

.about-testimony * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
    transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}

.about-testimony img {
    max-width: 100%;
    vertical-align: middle;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    margin: 40px 0 0 10px;
}

.about-testimony blockquote {
    display: block;
    border-radius: 8px;
    position: relative;
    background-color: #09111A;
    color: #ffffff;
    padding: 25px 50px 30px 50px;
    font-size: 0.8em;
    font-weight: 500;
    margin: 0;
    line-height: 1.6em;
    font-style: italic;
    border: 1px solid white;
}

.about-testimony blockquote:before,
.about-testimony blockquote:after {
    font-family: 'FontAwesome';
    content: "\201C";
    position: absolute;
    font-size: 50px;
    opacity: 0.3;
    font-style: normal;
}

.about-testimony blockquote:before {
    top: 25px;
    left: 20px;
}

.about-testimony blockquote:after {
    content: "\201D";
    right: 20px;
    bottom: 0;
}

.about-testimony-arrow {
    top: 100%;
    width: 0;
    height: 0;
    border-left: 0 solid transparent;
    border-right: 25px solid transparent;
    border-top: 25px solid #09111A;
    margin: 0;
    position: absolute;
}

.about-testimony-author {
    position: absolute;
    bottom: 45px;
    padding: 0 10px 0 120px;
    margin: 0;
    text-transform: uppercase;
    color: #ffffff;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
}

.about-testimony-author h5 {
    opacity: 0.8;
    margin: 0;
    font-weight: 800;
}

.about-testimony-author h5 span {
    font-weight: 400;
    text-transform: none;
    padding-left: 5px;
}

.about-team-container {
  text-align: center;
}

.about-team-container h1 {
  font-size: 40px;
}

.team-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 20px;
  animation: fadeIn 2s;
}

.team-list-card {
  width: 325px;
  margin: 20px 10px;
  z-index: 5;
  cursor: grab;
}

.team-list-card:hover .team-list-card-caption {
  top: 50%;
  transform: translateY(-50%);
}

.team-list-card:hover img {
  transform: translateY(-10px);
}

.team-list-card:hover .team-list-card-thumb::after {
  top: 0;
}

.team-list-card:hover .team-list-card-caption p {
  margin-top: 20px;
}

.team-list-card-thumb {
  position: relative;
  max-height: 400px;
  overflow: hidden;
}

.team-list-card-thumb::after {
  position: absolute;
  top: 0;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 40%, rgba(255, 255, 255, 0) 100%);
  transition: 0.3s;
}

.team-list-container img {
  transition: 0.5s ease-in-out;
}

.team-list-card-caption {
  position: absolute;
  top: 50%;
  z-index: 1;
  padding: 0 20px;
  color: white;
  transform: translateY(-50%);
  text-align: center;
  transition: 0.3s;
}

.team-list-card-caption h2 {
  display: -webkit-box;
  max-height: 85px;
  overflow: hidden;
  font-size: 23px;
  color: white;
  line-height: 28px;
  text-shadow: 0px 1px 5px black;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.team-list-card-caption p {
  display: -webkit-box;
  max-height: 150px;
  margin: 20px 0;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-overflow: ellipsis;
  transition: 0.5s ease-in-out;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

@media (min-width: 1024px) {
  .team-list-card-thumb {
    max-height: 500px;
  }

  .team-list-card-thumb::after {
    top: calc(100% - 140px);
  }

  .team-list-card-caption {
    top: calc(100% - 110px);
    transform: unset;
  }

  .team-list-card-caption p {
    margin: 80px 0;
  }
}

@media (max-width: 1040px) {
  .team-list-card {
    width: 425px;
    margin: 20px 10px;
  }
}

@media (max-width: 900px) {
  .team-list-card {
    max-width: 600px;
    width: 90vw;
  }
}

.about-description-component {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 600px;
  overflow: hidden;
  padding: 30px 0px;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.about-description-component .hero {
  display: grid;
  grid-template-columns: 4fr 1fr 4fr;
  grid-template-rows: 1fr 6fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
}

.about-description-text {
  grid-area: 1 / 1 / 3 / 3;
  border: 10px solid #09111A;
  padding: 30px;
  background-color: #111D2C;
  color: white;
  position: relative;
  width: 100%;
}

.about-description-text h1 {
  text-transform: capitalize;
  font-size: clamp(20px, 5vw, 40px);
  font-weight: 700;
  margin: auto;
}

.about-description-text p {
  margin-top: 25px;
  margin-bottom: 50px;
  font-size: 20px;
}

.about-description-text a {
  padding: 10px;
  text-decoration: none;
  border: 2px solid #d3d3d3;
  color: #d3d3d3;
  font-weight: 600;
}

.about-description-text a:hover {
  color: #d3d3d3;
  box-shadow: colors.$container-shadow;
  background-color: #09111A;
}

.about-description-image {
  grid-area: 2 / 2 / 4 / 4;
  border: 10px solid #09111A;
  z-index: -1;
  position: relative;
}

.about-description-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-description-text::before,
.about-description-image::before {
  content: '';
  position: absolute;
  top: 50%;
  height: 50%;
  width: 50vw;
  background: #09111A;
}

.about-description-text::before {
  left: 0;
  transform: translateY(-50%) translateX(-100%);
}

.about-description-image::before {
  right: 0;
  transform: translateY(-50%) translateX(100%);
}

@media screen and (max-width: 450px) {
  .about-description-component .hero {
      grid-template-rows: 6fr 1fr 6fr;
  }

  .about-description-text {
      grid-area: 1 / 1 / 3 / 4;
  }

  .about-description-image {
      grid-area: 2 / 1 / 4 / 4
  }
}