@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

//! fonts
$primary-font: Montserrat;

//! font size
$sizeNavLink: 1.2em;
$sizeLogo: 1.8em;
$sizeTitle: 2.1em;
$sizeSubTitle: 1em;
