//! heights
$desktopHeaderHeight: 80px;
$desktopFooterHeight: 80px;

$mobileHeaderHeight: 80px;
$mobileFooterHeight: 80px;

//! widths
$desktopContainerWidth: 85vw;
$mobileContainerWidth: 90vw;

//! padding

//! margins