@use '../../../sassVariables/colors.scss' as colors;

.chartWrapper {
  margin: 0 auto;
  border: 1px solid lightgray;
  padding: 50px;
  background-color: colors.$backgroundDark1;
  box-shadow: colors.$container-shadow;
  width: 85%;
}

.pieWrapper {
  width: 30%;
  border: 1px solid lightgray;
  padding: 20px 50px;
  background-color: colors.$backgroundDark1;
  box-shadow: colors.$container-shadow;

  h2 {
    text-align: center;
    color: colors.$textPrimary;
  }
}