.graphDetailsContainer {
  display: flex;
  margin-bottom: 80px;

  .chart {
    width: 65%;
  }

  .pieChartContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .graphDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex: 1;

    h1 {
      font-size: 2.2em;
      text-align: center;
    }

    p {
      text-align: center;
      font-size: 1.4em;
      margin-bottom: 3px;
    }
  }

}

.pieGraphDetails {
  h1 {
    font-size: 2.2em;
    text-align: center;
    margin-bottom: 30px;
  }

  p {
    text-align: center;
    font-size: 1.4em;
    margin-bottom: 3px;
  }
}

@media only screen and (max-width: 850px) {
  .graphDetailsContainer {
    margin-bottom:10px;
  
    .chart {
      display: none
    }
    .graphDetails {
      h1 {
        font-size: 1.9em;
      }
  
      p {
        font-size: 1.2em;
      }
    }

    .pieChartContainer {
      display: none;
    }
  }


  .pieGraphDetails {
    display: none;
  }

}