@use 'sassVariables/colors.scss' as colors;

.landingSectionOneContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  .landingSectionOneLeft {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 50px;
    .landingLoginButton {
      background-color: transparent;
      border: 1px solid white;
      text-align: center;
      transition: all .3s cubic-bezier(.645,.045,.355,1);
      height: 32px;
      width: fit-content;
      padding: 4px 15px;
      font-size: 14px;
      border-radius: 2px;
      line-height: 1.5715;
      position: relative;
      display: inline-block;
      font-weight: 400;
      color: colors.$textPrimary;
    }
    .landingLoginButton:hover {
      box-shadow: colors.$container-shadow;
      cursor: pointer;
    }
  }
}

.landingSectionOneRight {
  display: none;
}

@media only screen and (max-width: 850px) {
  .landingSectionOneRight {
    display: none;
  }
  .landingSectionOneContainer {
    grid-template-columns: 1fr;
  }
}