@use 'sassVariables/colors.scss' as colors;
@use 'sassVariables/spacing.scss' as spacing;
@use 'sassVariables/fonts.scss' as fonts;

.mainHeader {
  background-color: colors.$backgroundDark1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: spacing.$desktopHeaderHeight;
  border-bottom: colors.$headerFooterBorder; 
  box-shadow: colors.$headerShadow;
}

.topNavbar {
  width: spacing.$desktopContainerWidth;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: colors.$textHeadline;
  line-height: 20px;
  font-size: fonts.$sizeLogo;
  margin: 0;
}

.navLinks {
  margin-bottom: 0;
  margin-top: 5px;
  display: flex;
  align-items: flex-end;
  cursor: pointer;
}

.navLink {
  text-decoration: none;
  display: inline;
  margin-left: 40px;
  color: colors.$textPrimary;
  font-size: fonts.$sizeNavLink;
  align-self: flex-end;  
  
  a, Link {
    color: colors.$textPrimary;
    text-decoration: none;
    display: flex;
    align-items: center;

    &:hover {
      color: colors.$textPrimary;
      text-underline-offset: 1px;
      text-decoration-thickness: 1px !important;
      text-decoration-color: colors.$textPrimary !important;
      text-decoration: underline;
    }
  }

  .navIcon {
    width: 18px;
    margin-right: 5px;
  }
}

.mobileHeader {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  background-color: #09111A;
  background-color: colors.$backgroundDark1;
  border-bottom: colors.$headerFooterBorder;
}

.mobileNav {
  display: flex;
  width: spacing.$mobileContainerWidth;
  height: spacing.$mobileHeaderHeight;
  justify-content: space-between;
  align-items: center;

  .hamburgerIcon {
    width: 30px;
    cursor: pointer;
  }
}

.mobileNavLinks {
  width: 100vw;
  position: absolute;
  margin-top: 80px;
  background-color: #09111A;

  .mobileLink {
    color: colors.$textPrimary;
    display: block;
    text-decoration: none;
    margin: 15px;
    display: flex;
    align-items: center;

    &:hover {
      color: colors.$textPrimary;
      text-underline-offset: 1px;
      text-decoration-thickness: 1px !important;
      text-decoration-color: colors.$textPrimary !important;
      text-decoration: underline;
    }
  }

  .navIcon {
    width: 20px;
    margin-right: 5px;
  }
  
  .mobile-link:hover {
    text-decoration: underline;
  }
}

@media only screen and (max-width: 850px) {
  .mainHeader {
    display: none;
  }
  
  .mobileHeader {
    display: flex;
  }
}

@media only screen and (min-width: 849px) {

  .mobileNavLinks {
    display: none;
  }
}
