@use 'sassVariables/colors.scss' as colors;
@use 'sassVariables/spacing.scss' as spacing;

.formContainer {
  width: 70vw;
  border: 1px solid white;
  box-shadow: colors.$container-shadow;
  padding: 20px 50px;
  background-color: colors.$backgroundDark1;
    
  .ant-form-item-label>label {
    color: colors.$textPrimary !important
  }

  .formTitle {
    text-align: center;
    color: colors.$textPrimary;
    margin: 10px 0;
  } 
}

.ant-form-item-control-input-content {
  display: flex;
  justify-content: center !important;
}

.ant-form-item-control-input-content {
  display: flex;
  justify-content: center !important;
}

.ant-input-number, .ant-picker{
  width: 100% !important;
}

.ant-select-show-search.ant-select:not(.ant-select-customize-input) .ant-select-selector  {
  background-color: transparent !important;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  background-color: transparent !important;
}

.ant-input-number-input:placeholder-shown {
  background-color: colors.$backgroundDark1;
}

.ant-input-number-input:placeholder-shown:focus {
  background-color: colors.$backgroundDark1;
}

.ant-input-number .ant-select-selector {
  background-color: transparent !important;
}

.ant-picker {
  background-color: transparent !important;
}

.ant-btn-primary {
  background-color: transparent !important;
  border: 1px solid white !important;
}

.ant-btn-primary:hover {
  box-shadow: colors.$container-shadow;
}

.ant-picker-input>input, .ant-input-number-input-wrap{
  background-color: colors.$backgroundDark1;
  color: colors.$textSecondary !important;
}


@media only screen and (max-width: 850px) {
  .formContainer {
    width: 90vw;
  }
}