@use 'sassVariables/colors.scss' as colors;

.company-details-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
//   padding: 20px 10px;
}

.company-profile {
    grid-column: span 6;
    margin: auto;
    width: 100%;
    border: 1px solid white;
    box-shadow: colors.$container-shadow;
    display: flex;
    justify-content: center;
}

.stock-ticker-widget {
    grid-column: span 6;
    border: 1px solid white;
    box-shadow: colors.$container-shadow;
    display: flex;
    justify-content: center;
}

.stock-chart-widget {
    grid-column: span 12;
}

.stock-widget-container {
    margin: 20px auto;  
    width: 100%; 
    border: 1px solid white;
    box-shadow: colors.$container-shadow;
    overflow: hidden;
}

@media only screen and (max-width: 1280px) {
    .company-profile {
        grid-column: span 7;
    }

    .stock-ticker-widget {
        grid-column: span 5;
        text-align: center;
    }
}

@media only screen and (max-width: 900px) {
    .company-profile {
        grid-column: span 6;
    }

    .stock-ticker-widget {
        grid-column: span 6;
    }
}

@media only screen and (max-width: 700px) {
    .company-profile {
        grid-column: span 12;
    }

    .stock-ticker-widget {
        grid-column: span 12;
    }

    .stock-ticker-container {
        margin: auto;
        width: 50%;
    }
}

@media only screen and (max-width: 600px) {

    .stock-ticker-container {
        margin: auto;
        width: 80%;
    }
}